In [2]:
import pandas as pd
import numpy as np
import copy
import matplotlib.pyplot as plt
import seaborn as sns
import random
from tqdm import tqdm
import math
import missingno as msno

# Average hotel price MOET NOG AFGEROND OID en toegepast op volledige dataset

In [4]:

# OVER HELE SET
def add_average_hotel_price(df):

    df['Average_hotel_price'] = df['prop_id']

    properties = []
    average_prices = []
    for prop in df['prop_id']:
        if prop not in properties:
            properties.append(prop)
            average = df[df['prop_id'] == prop]['price_usd'].mean()
            average_prices.append(average)

    for i in range(len(properties)):
        prop = properties[i]
        aver = average_prices[i]
        df['Average_hotel_price'] = df['Average_hotel_price'].replace(prop, aver)
    return(df)

In [6]:
# CHECK OF DIT DE MEEST RECENTE VERSIES ZIJN
test = pd.read_csv("../../test.csv")
train = pd.read_csv("../../train.csv")

In [7]:
test

,Unnamed: 0,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp_rate,comp_inv,comp_percent,month,daypart,prop_location_score2
0,0,1,24,216,0.0,0.0,219,3180,3,4.5,...,0,NaN,8.0,0,0.00,0.0,0.000000,2,3,0.07
1,1,1,24,216,0.0,0.0,219,5543,3,4.5,...,0,NaN,8.0,0,0.00,0.0,0.000000,2,3,0.08
2,2,1,24,216,0.0,0.0,219,14142,2,3.5,...,0,NaN,8.0,0,0.50,0.0,10.000000,2,3,0.06
3,3,1,24,216,0.0,0.0,219,22393,3,4.5,...,0,NaN,8.0,0,0.00,0.0,0.000000,2,3,0.06
4,4,1,24,216,0.0,0.0,219,24194,3,4.5,...,0,NaN,8.0,0,0.00,0.0,0.000000,2,3,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959178,4959178,332787,24,216,0.0,0.0,117,32019,4,3.5,...,0,NaN,8.0,0,0.50,0.0,49.500000,5,2,0.06
4959179,4959179,332787,24,216,0.0,0.0,117,33959,4,3.0,...,0,NaN,8.0,0,0.25,0.0,19.000000,5,2,0.30
4959180,4959180,332787,24,216,0.0,0.0,117,35240,4,0.0,...,0,NaN,8.0,0,0.25,0.0,24.666667,5,2,0.00
4959181,4959181,332787,24,216,0.0,0.0,117,94437,4,0.0,...,0,NaN,8.0,0,0.00,0.0,27.500000,5,2,0.09
4959182,4959182,332787,24,216,0.0,0.0,117,99509,4,4.5,...,0,NaN,8.0,0,0.00,0.0,16.000000,5,2,0.03

In [8]:
train

,Unnamed: 0,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,random_bool,comp_rate,comp_inv,comp_percent,month,daypart,click_bool,booking_bool,position,prop_location_score2
0,0,1,12,187,0.0,0.0,219,893,3,3.5,...,1,0.00,0.000000,0.0,4,2,0,0,27,0.04
1,1,1,12,187,0.0,0.0,219,10404,4,4.0,...,1,0.00,0.333333,0.0,4,2,0,0,26,0.01
2,2,1,12,187,0.0,0.0,219,21315,3,4.5,...,1,0.00,0.000000,0.0,4,2,0,0,21,0.02
3,3,1,12,187,0.0,0.0,219,27348,2,4.0,...,1,-0.75,0.250000,5.0,4,2,0,0,34,0.01
4,4,1,12,187,0.0,0.0,219,29604,4,3.5,...,1,0.00,0.000000,0.0,4,2,0,0,4,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,4958342,332785,5,219,0.0,0.0,219,77700,3,4.0,...,0,0.00,0.000000,0.0,6,4,0,0,2,0.05
4958343,4958343,332785,5,219,0.0,0.0,219,88083,3,4.0,...,0,0.00,0.000000,0.0,6,4,0,0,3,0.20
4958344,4958344,332785,5,219,0.0,0.0,219,94508,3,3.5,...,0,0.00,0.000000,0.0,6,4,0,0,4,0.02
4958345,4958345,332785,5,219,0.0,0.0,219,128360,3,5.0,...,0,0.00,0.000000,0.0,6,4,1,1,1,0.07
4958346,4958346,332785,5,219,0.0,0.0,219,134949,3,2.5,...,0,0.00,0.000000,0.0,6,4,0,0,6,0.08

In [12]:
train_position = train['position']
train_click_bool = train['click_bool']
train_booking_bool = train['booking_bool']

train = train.drop(columns=['position',
                 'click_bool',
                 'booking_bool'])

In [13]:
train

,Unnamed: 0,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp_rate,comp_inv,comp_percent,month,daypart,prop_location_score2
0,0,1,12,187,0.0,0.0,219,893,3,3.5,...,1,NaN,8.0,1,0.00,0.000000,0.0,4,2,0.04
1,1,1,12,187,0.0,0.0,219,10404,4,4.0,...,1,NaN,8.0,1,0.00,0.333333,0.0,4,2,0.01
2,2,1,12,187,0.0,0.0,219,21315,3,4.5,...,1,NaN,8.0,1,0.00,0.000000,0.0,4,2,0.02
3,3,1,12,187,0.0,0.0,219,27348,2,4.0,...,1,NaN,8.0,1,-0.75,0.250000,5.0,4,2,0.01
4,4,1,12,187,0.0,0.0,219,29604,4,3.5,...,1,NaN,8.0,1,0.00,0.000000,0.0,4,2,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,4958342,332785,5,219,0.0,0.0,219,77700,3,4.0,...,0,NaN,6.0,0,0.00,0.000000,0.0,6,4,0.05
4958343,4958343,332785,5,219,0.0,0.0,219,88083,3,4.0,...,0,NaN,6.0,0,0.00,0.000000,0.0,6,4,0.20
4958344,4958344,332785,5,219,0.0,0.0,219,94508,3,3.5,...,0,NaN,5.0,0,0.00,0.000000,0.0,6,4,0.02
4958345,4958345,332785,5,219,0.0,0.0,219,128360,3,5.0,...,0,NaN,6.0,0,0.00,0.000000,0.0,6,4,0.07
4958346,4958346,332785,5,219,0.0,0.0,219,134949,3,2.5,...,0,NaN,6.0,0,0.00,0.000000,0.0,6,4,0.08

In [14]:
data = train.append(test, sort=False)
data = data.reset_index(drop=True)

In [ ]:
data = add_average_hotel_price(data)

In [ ]:
# trel data weer uit elkaar en voeg missende kolommen weer toe
train = data.iloc[0:len(train)]
test = data.iloc[len(train):]

In [ ]:
train['position'] = train_position
train['click_bool'] = train_click_bool
train['booking_bool'] = train_booking_bool

In [ ]:
# CHECK NOG OF ER NOISY KOLOMMEN INSTAAN ZOAL Unnamed 1, comp_percent

# Total clicked in train, toevoegen

In [ ]:
# # average hotel price

# # df['Average_click_bool'] = df['prop_id']

# # ALEEEN OVER TRAIN SET
# prop_clicked = {}
# for prop in df['prop_id']:
#     if prop not in prop_clicked:
#         total_clicks = df[df['prop_id'] == prop]['click_bool'].mean()
#         prop_clicked[prop] = total_clicks

# # # 

# # OVER DE HELE DATASET
# df['Total_click_prop'] = [0] * len(df)
# for i in range(len(df)):
#     prop = df['prop_id'][i]
#     if prop in prop_clicked:
#         print(prop_clicked[prop])
#         print('first', df['Total_click_prop'][i])
#         df['Total_click_prop', i] = prop_clicked[prop]
#         print('second',df['Total_click_prop'][i])

# columns to drop

In [ ]:

# df = df.drop(columns=['comp1_rate',
#                       'comp2_rate',
#                       'comp3_rate',
#                       'comp4_rate',
#                       'comp5_rate',
#                       'comp6_rate',
#                       'comp7_rate',
#                       'comp8_rate',
#                       'comp1_inv',
#                       'comp2_inv',
#                       'comp3_inv',
#                       'comp4_inv',
#                       'comp5_inv',
#                       'comp6_inv',
# #                       'comp7_inv',
#                       'comp8_inv',
#                       'comp1_rate_percent_diff',
#                       'comp2_rate_percent_diff',
#                       'comp3_rate_percent_diff',
#                       'comp4_rate_percent_diff',
#                       'comp5_rate_percent_diff',
#                       'comp6_rate_percent_diff',
#                       'comp7_rate_percent_diff',
#                       'comp8_rate_percent_diff',
#                       'gross_bookings_usd',
#                       'date_time',
#                       'srch_query_affinity_score',
#                       'Unnamed: 0'])