In [1]:
import pandas as pd
import numpy as np
import copy
import matplotlib.pyplot as plt
import seaborn as sns
import random
from tqdm import tqdm
import math

import time
from numpy.core.numeric import NaN

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
import matplotlib as mpl
# from wordcloud import WordCloud
from sklearn.metrics import accuracy_score, log_loss
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC, LinearSVC
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn import datasets, svm
from sklearn.model_selection import GridSearchCV

In [5]:
# import datasets
test = pd.read_csv("../../test.csv")
train = pd.read_csv("../../train.csv")

In [6]:
train = train.drop(columns=['Unnamed: 0'])
test = test.drop(columns=['Unnamed: 0'])

In [7]:
# Get the columns whch are only in the training set form the original file
train_orig = pd.read_csv("../../training_set_VU_DM.csv")

gross_bookings_usd = train_orig['gross_bookings_usd']
click_bool = train_orig['click_bool']
booking_bool = train_orig['booking_bool']
position = train_orig['position']

In [8]:
search_id = train['srch_id']
prop_id = train['prop_id']
prop_id

0             893
1           10404
2           21315
3           27348
4           29604
            ...
4958342     77700
4958343     88083
4958344     94508
4958345    128360
4958346    134949
Name: prop_id, Length: 4958347, dtype: int64

In [10]:
results = pd.DataFrame()
results['SearchId'] = search_id
results['PropertyId'] = prop_id
results['Booking_bool'] = booking_bool
results['Probability_of_booking'] = [0] * len(train)
results

         SearchId  PropertyId  Booking_bool  Probability_of_booking
0               1         893             0                       0
1               1       10404             0                       0
2               1       21315             0                       0
3               1       27348             0                       0
4               1       29604             0                       0
...           ...         ...           ...                     ...
4958342    332785       77700             0                       0
4958343    332785       88083             0                       0
4958344    332785       94508             0                       0
4958345    332785      128360             1                       0
4958346    332785      134949             0                       0

[4958347 rows x 4 columns]

In [11]:
# Maak een train en test set

training_subset = train[:50000]
testing_subset = train[50000:60000]


training_results_subset = results[:50000]
testing_results_subset = results[50000:60000]

In [12]:
# Drop kolommen die neit van toepassing zijn

training_subset = training_subset.drop(columns=['srch_id', 'comp_percent', 'srch_query_affinity_score'])
testing_subset = testing_subset.drop(columns=['srch_id', 'comp_percent', 'srch_query_affinity_score'])

In [13]:
# Framework waar je je propbability results in kunt gooien

testing_results_subset

       SearchId  PropertyId  Booking_bool  Probability_of_booking
50000      3314       78605             0                       0
50001      3314       82035             0                       0
50002      3314       92123             0                       0
50003      3314      105713             0                       0
50004      3314      112415             0                       0
...         ...         ...           ...                     ...
59995      3997       67140             0                       0
59996      3997       67619             0                       0
59997      3997       72508             0                       0
59998      3997       77444             0                       0
59999      3997       77772             0                       0

[10000 rows x 4 columns]

In [10]:





# clf = RandomForestClassifier()
# print(clf.get_params().keys())

# # parameters = {'n_estimators':[200, 300, 400, 500,600,700, 800, 900], 'min_samples_split':[2,4,6,8,10,12], 'min_samples_leaf':[1,2,4,6,8]}

# # parameters = {'n_estimators':[200, 300], 'min_samples_split':[2,4]}

# # # class weight, niet gerelateerd, alle classes even zwaar wegen
# # clf = GridSearchCV(clf, parameters)

# # clf.fit(label_data,  np.ravel(surv_data))
# # clf.best_params_

# clf = RandomForestClassifier()
# # clf.fit(input_columns,  desired_outcome)
# result = clf.predict(col_test)

In [14]:
for var in training_subset:
    col = training_subset[var]
    missing = col.isnull().values.sum()
    if missing >0:
        print('the number is missing values in', var, 'is', col.isnull().values.sum())

In [15]:
np.ravel(training_results_subset['Booking_bool'])

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [16]:
clf = RandomForestClassifier()
clf.fit(training_subset, np.ravel(training_results_subset['Booking_bool'])) 
predictions = clf.predict_proba(testing_subset)
predictions

array([[1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       ...,
       [0.96, 0.04],
       [0.9 , 0.1 ],
       [0.94, 0.06]])

In [17]:
pred_1 = []
for i in range(len(predictions)):
    pred_1.append(predictions[i][1])

In [18]:
testing_results_subset['Probability_of_booking'] = pred_1

<ipython-input-18-423027d6e6c9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testing_results_subset['Probability_of_booking'] = pred_1

In [22]:
testing_results_subset

       SearchId  PropertyId  Booking_bool  Probability_of_booking
50000      3314       78605             0                    0.00
50001      3314       82035             0                    0.00
50002      3314       92123             0                    0.00
50003      3314      105713             0                    0.01
50004      3314      112415             0                    0.01
...         ...         ...           ...                     ...
59995      3997       67140             0                    0.02
59996      3997       67619             0                    0.03
59997      3997       72508             0                    0.04
59998      3997       77444             0                    0.10
59999      3997       77772             0                    0.06

[10000 rows x 4 columns]

In [23]:
x = testing_results_subset.loc[testing_results_subset['SearchId'] == 3994]
x

       SearchId  PropertyId  Booking_bool  Probability_of_booking
59941      3994         269             0                    0.02
59942      3994        3274             0                    0.05
59943      3994        7739             0                    0.11
59944      3994        8425             0                    0.11
59945      3994        9016             0                    0.06
59946      3994       11368             0                    0.04
59947      3994       13634             0                    0.02
59948      3994       17408             0                    0.02
59949      3994       17626             0                    0.04
59950      3994       21851             0                    0.04
59951      3994       24430             0                    0.04
59952      3994       26870             0                    0.04
59953      3994       31424             1                    0.05
59954      3994       38347             0                    0.05
59955      3994       38962             0                    0.08
59956      3994       55739             0                    0.05
59957      3994       62219             0                    0.04
59958      3994       66958             0                    0.04
59959      3994       72008             0                    0.07
59960      3994       75475             0                    0.09
59961      3994       77811             0                    0.03
59962      3994       81973             0                    0.05
59963      3994       83404             0                    0.05
59964      3994       85825             0                    0.04
59965      3994       86202             0                    0.03
59966      3994       94807             0                    0.09
59967      3994      101507             0                    0.11
59968      3994      108811             0                    0.06
59969      3994      126027             0                    0.01
59970      3994      128455             0                    0.06
59971      3994      133117             0                    0.04
59972      3994      135657             0                    0.08
59973      3994      136683             0                    0.08
59974      3994      139031             0                    0.01

In [24]:
# COde om te ordenen op probability

final_results = testing_results_subset.sort_values(by = ['SearchId','Probability_of_booking'], ascending=[True,False])

In [26]:
final_results.loc[final_results['SearchId'] == 3994]

       SearchId  PropertyId  Booking_bool  Probability_of_booking
59943      3994        7739             0                    0.11
59944      3994        8425             0                    0.11
59967      3994      101507             0                    0.11
59960      3994       75475             0                    0.09
59966      3994       94807             0                    0.09
59955      3994       38962             0                    0.08
59972      3994      135657             0                    0.08
59973      3994      136683             0                    0.08
59959      3994       72008             0                    0.07
59945      3994        9016             0                    0.06
59968      3994      108811             0                    0.06
59970      3994      128455             0                    0.06
59942      3994        3274             0                    0.05
59953      3994       31424             1                    0.05
59954      3994       38347             0                    0.05
59956      3994       55739             0                    0.05
59962      3994       81973             0                    0.05
59963      3994       83404             0                    0.05
59946      3994       11368             0                    0.04
59949      3994       17626             0                    0.04
59950      3994       21851             0                    0.04
59951      3994       24430             0                    0.04
59952      3994       26870             0                    0.04
59957      3994       62219             0                    0.04
59958      3994       66958             0                    0.04
59964      3994       85825             0                    0.04
59971      3994      133117             0                    0.04
59961      3994       77811             0                    0.03
59965      3994       86202             0                    0.03
59941      3994         269             0                    0.02
59947      3994       13634             0                    0.02
59948      3994       17408             0                    0.02
59969      3994      126027             0                    0.01
59974      3994      139031             0                    0.01

In [ ]:
final_reuslts.loc[testing_results_subset['SearchId'] == 3994]

# Andere aanpak
Het lijkt dat hij alles overfit op 'niet boeken'. Het idee is om veel hotels die niet worden geboekt te verwijderen uit de dataset

In [27]:
training_results_subset

       SearchId  PropertyId  Booking_bool  Probability_of_booking
0             1         893             0                       0
1             1       10404             0                       0
2             1       21315             0                       0
3             1       27348             0                       0
4             1       29604             0                       0
...         ...         ...           ...                     ...
49995      3314       60256             0                       0
49996      3314       67451             0                       0
49997      3314       71335             0                       0
49998      3314       72141             0                       0
49999      3314       76092             0                       0

[50000 rows x 4 columns]

In [29]:
hotel_bookings = list(training_results_subset['Booking_bool'])
print('in 50000 hotels, there are',hotel_bookings.count(0),'hotels which are not booked')
print('in 50000 hotels, there are',hotel_bookings.count(1),'hotels which are booked')
# Mkae the training set so that for every booked hotel there are 5 hotels which are not booked

in 50000 hotels, there are 48623 hotels which are not booked
in 50000 hotels, there are 1377 hotels which are booked

In [31]:
print(nr_negativehotel_remove)

34853

In [32]:
nr_negativehotel_remove = hotel_bookings.count(0) - 10*hotel_bookings.count(1)
nr_negativehotel_remove
# for i in range(nr_negativehotel_remove):
    
removed = 0
while removed != nr_negativehotel_remove:
    index = random.randint(0, len(training_results_subset)-1)
    if training_results_subset['Booking_bool'][index] == 0:
        if removed %100 ==0:
            print(removed)
#         print(training_results_subset['Booking_bool'][index])
#         remove row from training and results list
#         training_results_subset.drop([index])
        training_results_subset.drop(training_results_subset.index[index], inplace=True)
        training_results_subset = training_results_subset.reset_index(drop=True)
        
#         training_subset.drop([index])
        training_subset.drop(training_subset.index[index], inplace=True)
        training_subset = training_subset.reset_index(drop=True)
        removed+=1

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800

In [33]:
training_subset

,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,orig_destination_distance,random_bool,comp_rate,comp_inv,month,daypart
0,12,187,0.0,0.0,219,29604,4,3.5,1,2.5,...,4,0,1,1,8.0,1,0.000000,0.00,4,2
1,12,187,0.0,0.0,219,50984,2,0.0,0,1.5,...,4,0,1,1,8.0,1,0.000000,0.00,4,2
2,12,187,0.0,0.0,219,59267,3,0.0,1,2.0,...,4,0,1,1,8.0,1,0.333333,0.00,4,2
3,12,187,0.0,0.0,219,68914,2,3.0,1,2.0,...,4,0,1,1,8.0,1,0.000000,-0.25,4,2
4,12,187,0.0,0.0,219,74474,3,4.5,1,2.5,...,4,0,1,1,8.0,1,0.000000,0.00,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10708,5,219,0.0,0.0,18,16284,5,4.0,0,1.5,...,2,0,1,1,9.0,1,-0.333333,0.00,3,2
10709,5,219,0.0,0.0,18,23076,4,4.0,1,1.5,...,2,0,1,1,9.0,1,-1.000000,0.00,3,2
10710,5,219,0.0,0.0,18,30707,4,4.0,0,3.0,...,2,0,1,1,9.0,1,0.000000,0.00,3,2
10711,5,219,0.0,0.0,18,58937,4,4.0,1,3.0,...,2,0,1,1,9.0,1,0.000000,0.00,3,2
10712,5,219,0.0,0.0,18,76092,4,4.0,1,1.5,...,2,0,1,1,9.0,1,0.000000,0.00,3,2

In [34]:
hotel_bookings = list(training_results_subset['Booking_bool'])
print('in 50 hotels, ther are',hotel_bookings.count(0),'hotels which are not booked')
print('in 50 hotels, ther are',hotel_bookings.count(1),'hotels which are booked')

in 50 hotels, ther are 9336 hotels which are not booked
in 50 hotels, ther are 1377 hotels which are booked

In [35]:
clf = RandomForestClassifier()

clf.fit(training_subset, np.ravel(training_results_subset['Booking_bool'])) 
predictions = clf.predict_proba(testing_subset)
predictions

array([[0.98, 0.02],
       [0.96, 0.04],
       [0.94, 0.06],
       ...,
       [0.89, 0.11],
       [0.67, 0.33],
       [0.85, 0.15]])

# Gridsearch om optimale parameters van random forest te bepalen

In [40]:
from sklearn import datasets, svm
from sklearn.model_selection import GridSearchCV

from pprint import pprint
clf = RandomForestClassifier()
print(clf.get_params().keys())


print('\nParameters currently in use:')
pprint(clf.get_params())

dict_keys(['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'])

Parameters currently in use:
{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [41]:
# parameters = {'n_estimators':[600,800, 1000], 'criterion':['gini', 'entropy'], 'min_samples_split':[2,6,8], 'min_samples_leaf':[1,4,6], 'n_jobs' = [1,-1], 'oob_score'=['True, 'False'], 'warm_start'=['True, 'False'] }
parameters = {'n_estimators':[200, 400, 600,800], 'criterion':['gini', 'entropy']}
clf = RandomForestClassifier()

# clf.fit(training_subset, np.ravel(training_results_subset['Booking_bool']))

# class weight, niet gerelateerd, alle classes even zwaar wegen
clf = GridSearchCV(clf, parameters)

clf.fit(training_subset, np.ravel(training_results_subset['Booking_bool']))
clf.best_params_

{'criterion': 'entropy', 'n_estimators': 800}

In [25]:
pred_1 = []
for i in range(len(predictions)):
    pred_1.append(predictions[i][1])
    
testing_results_subset['Probability_of_booking'] = pred_1

<ipython-input-25-da499298fc8b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testing_results_subset['Probability_of_booking'] = pred_1

In [26]:
testing_results_subset

       SearchId  PropertyId  Booking_bool  Probability_of_booking
50000      3314       78605             0                    0.08
50001      3314       82035             0                    0.10
50002      3314       92123             0                    0.10
50003      3314      105713             0                    0.05
50004      3314      112415             0                    0.10
...         ...         ...           ...                     ...
59995      3997       67140             0                    0.21
59996      3997       67619             0                    0.13
59997      3997       72508             0                    0.18
59998      3997       77444             0                    0.37
59999      3997       77772             0                    0.31

[10000 rows x 4 columns]

In [27]:
x = testing_results_subset.loc[testing_results_subset['SearchId'] == 3333]
x

       SearchId  PropertyId  Booking_bool  Probability_of_booking
50351      3333        2136             0                    0.35
50352      3333       20114             0                    0.40
50353      3333       24067             0                    0.27
50354      3333       30890             0                    0.37
50355      3333       32464             0                    0.28
50356      3333       36142             0                    0.36
50357      3333       41325             0                    0.34
50358      3333       48167             0                    0.30
50359      3333       56214             0                    0.21
50360      3333       59572             0                    0.32
50361      3333       60875             0                    0.36
50362      3333       66204             0                    0.32
50363      3333       67098             0                    0.32
50364      3333       69649             1                    0.35
50365      3333       74640             0                    0.20
50366      3333       84269             0                    0.43
50367      3333       94330             0                    0.35
50368      3333       99656             0                    0.46
50369      3333       99788             0                    0.26
50370      3333      102276             0                    0.21
50371      3333      112510             0                    0.34
50372      3333      115616             0                    0.48
50373      3333      117915             0                    0.30
50374      3333      126910             0                    0.27
50375      3333      128521             0                    0.20
50376      3333      133013             0                    0.21
50377      3333      138839             0                    0.53